.text {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background-color: #9AC0CD;
    z-index: 11;
    border-top: 1px solid white;
}

.text span {
    margin-left: 45%;
}